body { background: #3e1e0e; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 49px; display: flex; }
.block-router-0 { color: #adcd37; font-size: 15px; margin-bottom: 5px; }
.block-search-1 { color: #29c99b; font-size: 13px; margin-bottom: 5px; }
.block-database-2 { color: #e00614; font-size: 12px; margin-bottom: 5px; }
.block-session-3 { color: #4d7392; font-size: 16px; margin-bottom: 5px; }
.block-shipping-4 { color: #203512; font-size: 12px; margin-bottom: 5px; }